<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GB18030" />
<title>Hello World</title>
<link rel="stylesheet" href="css/lib/redmond/jquery-ui-1.10.4.custom.min.css">
<link rel="stylesheet" href="css/lib/layout-default-latest.css">
<link rel="stylesheet" href="css/lib/ui.jqgrid.css">
<script src="js/lib/jquery-2.1.0.js"></script>
<script src="js/lib/jquery-ui-1.10.4.custom.js"></script>
<script src="js/lib/jquery.layout-latest.min.js"></script>
<script src="js/lib/i18n/grid.locale-en.js"></script>
<script src="js/lib/jquery.jqGrid.src.js"></script>
<script src="js/lib/underscore.js"></script>
<script src="js/lib/backbone.js"></script>

<script id="entry-template1" type="text/x-handlebars-template">
  <input type="text" value="<%= value %>"/>
</script>
<script id="entry-template2" type="text/x-handlebars-template">
  <b><%- value %></b>
</script>
<script id="entry-template3" type="text/x-handlebars-template">
  <ol>
	<%
	_.each(people, function(name){
	print("<li>"+name+"</li>");
	})
	%>
  </ol>
</script>
<script id="entry-template4" type="text/x-handlebars-template">
  <h1>hellow</h1>
</script>

<script>
$().ready(function(){
	$("#loginDialog").dialog({
	      autoOpen: false,
	      modal: true,
	      height:340,
	      width:280,
	      buttons: {
	    	  "OK": function() {
	    		  var dialog=this;
	    		  $.post("/SpringMvc3.1/j_spring_security_check",$("#loginForm").serialize(),function(data){
	    			  $(dialog).dialog("close");
	    			  var roles="登录成功。";
	    			  roles+="\nid:"+data.id;
	    			  $.each(data.authorities,function(index,r){
	    				  roles+="\n"+r.authority;
	    			  });
	    			  alert(roles);
	    		  }, "json");
	            },
	            Cancel: function() {
	              $(this).dialog("close");
	            }
	        }
	    });
	
	$("#a-login").click(function() {
		$("#loginDialog").dialog("open");
		return false;
	});
	
	$("#a-logout").click(function() {
		/* $.get("/SpringMvc3.1/j_spring_security_logout",function(data){
			alert(123);
		}); */
		$.get("/SpringMvc3.1/j_spring_security_logout", function(data) {
			alert(data);
		});
		return false;
	});
	
	$("#a-reloadAuthority").click(function() {
		$.get("/SpringMvc3.1/upload/reloadAuthority", function(data) {
			alert(data);
		});
		return false;
	});
	
});

</script>
</head>
<body>
	<h1 align="center">欢迎</h1>
	<a id="a-login" href="#">登录</a>
	<a id="a-logout" href="/SpringMvc3.1/j_spring_security_logout">退出</a>
	<a id="a-reloadAuthority" href="#">重载入权限</a>
	
	<br>
	<a href="../SpringMvc3.1/management/person.htm" target="_blank">人员管理</a>
	
	<br>
	<a href="html5/filesys.html" target="_blank">文件上传</a>
	
	<br>
	<a href="websocket/ws1.html" target="_blank">Web Socket</a>
	
	<div id="loginDialog" title="Basic dialog">
		<form id="loginForm" action="/j_spring_security_check">
			<label for="j_username">用户名</label><br/>
			<input type="text" name="j_username" class="text ui-widget-content ui-corner-all"><br/>
			<label for="j_password">密码</label><br/>
			<input type="password" name="j_password" class="text ui-widget-content ui-corner-all"><br/>
			<label for="_spring_security_remember_me">记住用户</label>
			<input type="checkbox" name="_spring_security_remember_me">
		</form>
	</div>
</body>
</html>