<?xml version="1.0" encoding="GB18030" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GB18030" />
<title>Hello World</title>
<script src="js/lib/jquery-2.1.0.js"></script>
<script src="js/lib/jquery-ui-1.10.4.custom.js"></script>
<script src="js/lib/underscore.js"></script>
<script src="js/lib/backbone.js"></script>

<script src="js/base1.js"></script>
<script src="js/base2.js"></script>

<script src="js/common/common.js"></script>
<script src="js/common/common2.js"></script>
<script src="js/common2/common.js"></script>
<script src="js/common2/common2.js"></script>

<script src="js/index/a.js"></script>
<script src="js/index/b.js"></script>

<script type="textjavascript">
Note = Backbone.Model.extend({

  initialize: function() {},

  author: function() {},

  coordinates: function() {},

  allowedToEdit: function(account) {
    return true;
  }

});

</script>

<script id="entry-template1" type="text/x-handlebars-template">
  <input type="text" value="<%= value %>"/>
</script>
<script id="entry-template2" type="text/x-handlebars-template">
  <b><%- value %></b>
</script>
<script id="entry-template3" type="text/x-handlebars-template">
  <ol>
	<%
	_.each(people, function(name){
	print("<li>"+name+"</li>");
	})
	%>
  </ol>
</script>
<script id="entry-template4" type="text/x-handlebars-template">
  <h1>hellow</h1>
</script>
<script type="text/javascript">
	var reg = /b(?=a)/;
	alert("acab".replace(reg, "*"));
	$().ready(function() {
		var aaa = [ {
			a : 1
		}, {
			b : 3
		} ];
		var ccc = $.extend(true, [], aaa);
		var bbb = aaa.concat(ccc);
		alert(aaa === ccc);
		alert(aaa === bbb)

		var template1 = _.template($("#entry-template1").text());
		$("body").append(template1({
			value : 1
		}));
		$("body").append(template1({
			value : 2
		}));
		var template2 = _.template($("#entry-template2").text());
		$("body").append(template2({
			value : '<script>'
		}));
		var template3 = _.template($("#entry-template3").text());
		$("body").append(template3({
			people : [ "张三", "李四", "王五" ]
		}));
		var template4 = _.template($("#entry-template4").text());
		$("body").append(template4());
	});
</script>
</head>
<body>
	work now!
	<div style="display: none;"></div>
</body>
</html>