<?xml version="1.0" encoding="GB18030"?>
<beans  xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:aop="http://www.springframework.org/schema/aop"
	  	xmlns:context="http://www.springframework.org/schema/context" 
	  	xmlns:util="http://www.springframework.org/schema/util"
		xmlns:jee="http://www.springframework.org/schema/jee" 
		xmlns:ws="http://www.springframework.org/schema/web-services"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
					http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
					http://www.springframework.org/schema/aop
					http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
					http://www.springframework.org/schema/context
					http://www.springframework.org/schema/context/spring-context-3.2.xsd
					http://www.springframework.org/schema/util
    				http://www.springframework.org/schema/util/spring-util-3.2.xsd
					http://www.springframework.org/schema/jee
					http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
					http://www.springframework.org/schema/web-services 
					http://www.springframework.org/schema/web-services/web-services-2.0.xsd">
	
	<!-- Spring-WS核心类为org.springframework.ws.soap.server.SoapMessageDispatcher -->				
	
	<!-- org.springframework.ws.config.WebServicesNamespaceHandler -->
	<context:component-scan base-package="name.chenyuelin.ws.endpoint,name.chenyuelin.ws.client" />
	
	<!-- org.springframework.ws.config.AnnotationDrivenBeanDefinitionParser -->
	<ws:annotation-driven marshaller="wsJaxb2Marshaller" unmarshaller="wsJaxb2Marshaller"/>
	
	<!-- 
	Spring WS 要申明一个operation操作必需要一组请求响应组合而来。
	如要申明findPerson的operation必需先定意findPersonRequest与findPersonResponse一对参数，operation会跟据此对参数自动生成 
	-->
	
	<!-- org.springframework.ws.config.DynamicWsdlBeanDefinitionParser -->
	<!-- ws:dynamic-wsdl空间名的targetNamespace属性为wsdl定义空间名，默认为xsd相同空间名。 -->
	<ws:dynamic-wsdl id="person" serviceName="PersonService" portTypeName="PersonPort" locationUri="/services/person/">
		<ws:xsd location="/WEB-INF/configuration/ws/schema_final.xsd"/>
	</ws:dynamic-wsdl>
	
	<ws:interceptors>
		<bean class="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor"/>
	</ws:interceptors>
	
	<!-- Default EndpointExceptionResolver in org.springframework.ws.server.MessageDispatcher is SoapFaultAnnotationExceptionResolver, SimpleSoapExceptionResolver -->
	<bean class="org.springframework.ws.soap.server.endpoint.SoapFaultMappingExceptionResolver">
		<property name="exceptionMappings">
			<util:properties>
				<prop key="java.lang.RuntimeException">CLIENT,Invalid request</prop>
			</util:properties>
		</property>
	</bean>
	
	<!-- org.springframework.ws.soap.SoapVersion -->
	
	<!-- Default message factory, MessageDispatcherServlet will reference it -->
	<!-- <bean id="messageFactory" class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory"/> -->
	
	<bean id="messageFactory12" class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory">
		<property name="soapVersion">
			<util:constant static-field="org.springframework.ws.soap.SoapVersion.SOAP_12"/>
		</property>
	</bean>

	<bean id="wsJaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<property name="packagesToScan">
			<list>
				<value>name.chenyuelin.ws.dto.person</value>
				<value>name.chenyuelin.ws.dto.airline</value>
			</list>
		</property>
		<property name="marshallerProperties">
			<map>
				<entry key="#{T(javax.xml.bind.Marshaller).JAXB_ENCODING}" value="utf-8" />
			</map>
		</property>
	</bean>
	
	<!-- **************************** Client ************************************ -->
	<bean id="webServiceTemplate11" class="org.springframework.ws.client.core.WebServiceTemplate">
		<constructor-arg ref="wsJaxb2Marshaller"/>
	</bean>
	
	<bean id="webServiceTemplate12" class="org.springframework.ws.client.core.WebServiceTemplate">
		<constructor-arg ref="messageFactory12"/>
		<property name="marshaller" ref="wsJaxb2Marshaller"/>
		<property name="unmarshaller" ref="wsJaxb2Marshaller"/>
	</bean>
</beans>